h3{
	 color: white;
      background-color: #4d4dff;
      padding: 12px 14px;
      text-align: center;
      text-decoration: none;
      font-size: 25px;
}
body{
	background-image: url(http://images.all-free-download.com/images/graphiclarge/nostalgic_blue_background_06_hd_pictures_169782.jpg);
}



h4{
      color: white;
      background-color: #000d1a;
      padding: 14px 50px;
      text-align: center;
      text-decoration: none;
      font-size: 30px;
	
}
p{
	text-align: center;
	color: white;
	text-decoration: none;
	font-size: 20px;
	
	
}

#hm{
text-align:center;
}
