h3{
	 color: white;
      background-color: #4d4dff;
      padding: 12px 14px;
      text-align: center;
      text-decoration: none;
      font-size: 25px;
}
body{
	background-image: url(http://images.all-free-download.com/images/graphiclarge/nostalgic_blue_background_06_hd_pictures_169782.jpg);
}
div.img {
    margin: 20px;
    border: 7px solid #ccc;
    float: left;
    width: 250px;
    border-color: #ffffff;
}

div.img:hover {
    border: 1px solid #777;
}

div.img img {
    width: 100%;
    height: auto;
}

div.desc {
    border: 7px solid #ccc;
    width: 250px;
    background-color: white;
    font-size: 15px;
}

h1{
      color: white;
      font-size: 70px;
    }

h4{
      color: white;
      background-color: #000d1a;
      padding: 14px 50px;
      text-align: center;
      text-decoration: none;
      font-size: 30px;
